<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-4">Bienvenido al Restaurante</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <a
      routerLink="/menu"
      class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100"
    >
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        Ver Menú
      </h5>
    </a>
    <a
      routerLink="/pedido"
      class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100"
    >
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        Hacer Pedido
      </h5>
    </a>
    <a
      routerLink="/calificacion"
      class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100"
    >
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        Calificar Mesero
      </h5>
    </a>
  </div>
</div>
